#title {
    color: brown;
    text-align: center;
    font-size: 4em;
}

#sayings_container {
    margin: 10%;
}

#jesus {
    width: 30%
}

.stoixon{
    font-size: 20px;
}


a {
    text-decoration: none;
    cursor: pointer;
    color: brown;
}