#title {
    color: brown;
    text-align: center;
    font-size: 4em;
}

#sayings_container {
    margin: 10%;
}

.stoixon{
    font-size: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: brown;
}

.stoixonOne{
    font-family: 'copticregular', Times, serif;
    font-size: large;
    font-weight: bold;
}

.stoixonTwo{
    font-family: Times, serif;
    color: brown;
    font-size: x-large;
    font-weight: 200;
    margin: 1%;
    font-style: italic;
}