#title {
    color: brown;
    text-align: center;
    font-size: 4em;
}

#english_title {
    text-align: center;
    font-style: italic;
    text-align: center;
    font-size: 3em;
}

#sayings_container {
    margin: 1% 20%;
}

ul {
    list-style-type: none;
}

.stoixon{
    font-size: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: brown;
}

#quark {
    width: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stoixonOne{
    font-family: 'copticregular', Times, serif;
    font-size: large;
    font-weight: bold;
}

.stoixonTwo{
    font-family: Times, serif;
    color: brown;
    font-size: x-large;
    font-weight: 200;
    margin: 1%;
    font-style: italic;
}