a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 2em;
}

#list_container {
    margin: 0em 4em;
}

ul {
    list-style-type: none;
}

li  {
    margin: 40px 0px
}

#title {
    color: black;
    text-align: center;
    font-size: 4em;
}