a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 2em;
    margin: 10em, 10em;
}

#list_container {
    margin: 0 4em;
}

ul {
    list-style-type: none;
}

li  {
    margin: 4em, 10em;
}

#title {
    color: black;
    text-align: center;
    font-size: 4em;
}